body {
  letter-spacing: 1px !important;
  font-family: 'Ubuntu', sans-serif;
}

.bgImage {
  background-image: linear-gradient(#00000040, #00000030),
    url(./Inputs/navbackground.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.customEqualPadding {
  padding: 8px 10px;
}

.customEqualPadding1 {
  padding: 8px 10px 8px 0px;
}
.customFont {
  font-size: 13px;
  color: white;
}
.customFont::before {
  display: block;
  text-align: center;
  height: 13px;
  width: 13px;
}
.bgTransparent {
  background-color: transparent;
}
.dropdown-toggle::after {
  border: none;
}

/* .customUtilityFont {
  font-size: 18px;
} */
.customHeight {
  height: 89px;
}
.customNavColor {
  background-color: #f1f3f2;
}
.utilityMenu {
  min-width: 3em !important;
}

.imgCardDiscription {
  font-size: 13px;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
}
.centerAlign {
  text-align: center;
}
.customNoHover:hover {
  text-decoration: none;
  color: white;
}
.addHeight {
  height: 50px;
}

.width90 {
  width: 90%;
}
.card .customBgColor {
  background-color: #f1f3f2;
}
.btn.customOutline {
  border: 1px solid goldenrod;
  color: goldenrod;
}

input.customNoOutline[type='text'] {
  box-shadow: none;
}
.customFxWidth {
  width: 267px;
}
input.customFxWidth[type='text'] {
  width: 159px;
}
.oval {
  border-radius: 30px 30px 30px 30px;
}
a.oval {
  font-size: 15px;
  padding: 8px 15px;
  letter-spacing: 2px;
  font-weight: bold;
}
.customPadding {
  padding: 1px !important;
}
.saleProducts .img-fluid {
  width: 100%;
}
.square {
  height: 40px;
  width: 40px;
}
.roundedBorder {
  border: 3px solid white;
  box-shadow: 0px 0px 5px goldenrod;
}
a.customBgColor {
  background-color: goldenrod;
}
.recentPost .customFont {
  font-size: 15px;
}

.getLetterSpacing {
  letter-spacing: 20px;
}
footer.customFont {
  font-size: 15px;
}
footer input.backgroundNone[type='text'] {
  background-color: transparent;
  color: white;
  font-size: 13px;
}
footer div.customFxWidth {
  width: 100%;
}
footer input.customFxWidth[type='text'] {
  width: 54%;
}
footer input.roundedBorder[type='text'] {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}
.changingWidth {
  width: 100%;
}
.goldenRod {
  color: goldenrod;
}
/* .two {
  display: none !important;
} */
@media only screen and (max-width: 993px) {
  .customHeading .card-group {
    display: block;
  }
  .customHeading .card-group .card {
    margin: 15px;
  }
  .width90 {
    width: 100%;
  }
  .changingWidth {
    width: 70%;
  }
}
@media (max-width: 960px) {
  .adrs {
    padding-bottom: 15px !important;
    width: 70% !important;
  }
  nav catedrop {
    display: inline-block;
  }
  .cate {
    display: none;
  }
  nav infdrop {
    display: inline-block;
  }
  .inf {
    display: none;
  }
  nav quickdrop {
    display: inline-block;
  }
  .quick {
    display: none;
  }
  .address-tab {
    display: flex !important;
    justify-content: center;
    flex-direction: column !important;

    align-items: center !important;
  }
  .socialicons {
    padding: 0 20%;
  }
}
@media only screen and (max-width: 600px) {
  .changingWidth {
    width: 100%;
  }
  .cardslogo {
    width: 100% !important;
    padding-bottom: 10px !important;

    align-items: center !important;
  }
  .read-btn {
    display: flex !important;
    justify-content: center !important;
  }
}

.heading hr {
  width: 10%;
  margin: 0 0 20px 0;
  padding: 0;
  color: black;
  background-color: black;
}

.cardslogo {
  color: white;
}
.cardslogo > i {
  font-size: 25px !important;
  padding: 1px;
  z-index: 2;
}

#drop1 {
  color: white;

  border: none;
  background-color: transparent;
}
#drop1 option {
  background-color: blue !important;
}
#drop2 {
  color: white;
  border: none;
  background-color: transparent;
  width: 50px !important;
}
#drop2 option {
  background-color: blue !important;
}
.dropmenu1 {
  display: flex;
  align-self: center !important;
  width: 100px;
}
.nav-link {
  position: relative !important;
}

.supicon1 {
  position: absolute;
  top: 0;

  left: 40px;
  background-color: #45adcc;
  border: none;
  border-radius: 16px;
  padding: 1px 5px;

  font-size: 8px;
}
.supicon {
  position: relative;
}
.supicon2 {
  position: absolute;
  top: 0;
  left: 50px;
  background-color: #dd3a33;
  border: none;
  border-radius: 16px;
  padding: 1px 5px;

  font-size: 8px;
}
.supicon3 {
  position: absolute;
  top: 0;
  left: 30px;
  background-color: #e7a833;
  border: none;
  border-radius: 16px;
  padding: 1px 5px;

  font-size: 8px;
}
.noti {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  background-color: black;
  border: none;
  border-radius: 50%;
  font-size: 10px;

  width: 13px;
  color: hsl(0deg 0% 100%);
}
.icon-noti {
  position: relative;
}

.catedrop input[type='checkbox'] {
  display: none;
}

.catedrop ul {
  display: none;
}

.catedrop input[type='checkbox']:checked ~ ul {
  display: block;
}

.infdrop input[type='checkbox'] {
  display: none;
}

.infdrop ul {
  display: none;
}

.infdrop input[type='checkbox']:checked ~ ul {
  display: block;
}

.quickdrop input[type='checkbox'] {
  display: none;
}

.quickdrop ul {
  display: none;
}

.quickdrop input[type='checkbox']:checked ~ ul {
  display: block;
}

.icon {
}
.iconlogo {
  padding: 5px;
}

.noti {
  position: absolute;
  top: 0;
  right: o;
  text-align: center;

  border: none;
  border-radius: 50%;
  font-size: 10px;
  /* padding: 5px; */
  width: 13px;
  color: hsl(0deg 0% 100%);
}

.footer-copyright {
  background-color: hsl(0deg 0% 0% / 11%);
}
.up-btn {
}

.page-footer {
  padding-bottom: 0 !important;
}

.custpad {
  padding-right: 5px !important;
}

.tag1 {
  position: fixed;
  right: 0;
  bottom: 5px;
}
